{% extends "vadmin.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Welcome</h5>

                <p class="card-text">
                    Hey {{user}} welcome to Chicago!!!
                    {{test.1}}
                    {{ test.h }}
                </p>
            </div>
        </div>
    </div>
    <!-- /.col-md-6 -->
</div>
<!-- /.row -->
{% endblock content %}