{% extends "auth.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
<!-- /.login-logo -->
<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">Reset Your password</p>

        <form method="post">
            {% csrf_token %}
            <input  type="hidden"  name="next"  value="{{ next }}">
            {{ form|crispy }}
            <div class="col-4">
                <input value="Reset" type="submit" class="btn btn-primary btn-block btn-flat">
            </div>
        </form>
        <hr>
        <p class="mb-1">
            <a href="{% url 'login' %}">Login</a>
        </p>
        <p class="mb-0">
            <a href="{% url 'signup' %}" class="text-center">Register a new membership</a>
        </p>
    </div>
</div>
{% endblock content %}