{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
<!-- Container-fluid starts -->
<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>Django</b>LTE</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Register to start</p>

            <form action="{% url 'signup' %}" method="post">
                {% csrf_token %}
                {% include 'includes/form.html' %}
                <div class="col-4">
                    <input value="Sign Up" type="submit" class="btn btn-primary btn-block btn-flat">
                </div>
            </form>
            <p class="mb-0">
                <a href="{% url 'login' %}" class="text-center">Login</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- end of container-fluid -->
{% endblock content %}